<!-- [ngClass]="myClassObject" -->
<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'allumé',
                'list-group-item-danger': appareilStatus === 'éteint'}">
    <!-- directive ngStyle permet d'appliquer des style à un objet du dom  -->
    <h4 [ngStyle]="{color: getColor()}">
        Appareil : {{ appareilName }}  -- Statut : {{ appareilStatus }} / {{ getStatus() }}
    </h4>
    <!-- two-way binding [( )]  -->
    <input type="text" class="form-control" [(ngModel)]="appareilName">
    <button
        class="btn btn-sm btn-success"
        *ngIf="appareilStatus === 'éteint'"
        (click)="onSwitch()" 
    >Allumer</button>
    <button
        class="btn btn-sm btn-danger"
        *ngIf="appareilStatus === 'allumé'"
        (click)="onSwitch()"
    >Eteindre</button>
</li>
