<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <p>Mis à jour : {{ lastUpdate | async }}</p>
      <!-- not work -->
      <!-- <p>Mis à jour : {{ lastUpdate | async | date: 'yMMMMEEEEd' | uppercase }}</p> -->
      <ul class="list-group">
        <!-- directive ngFor -> boucle -->
        <app-appareil
          *ngFor = "let appareil of appareils"
          [appareilName]="appareil.name" 
          [appareilStatus]="appareil.status"></app-appareil>
        
      </ul>
      <!-- Event binding -->
      <button 
        class="btn btn-success" 
        [disabled]="!isAuth"
        (click)="onAllumer()"
      >Tout allumer</button>
    </div>
  </div>
</div>